<%- include('./parts/header')%>
<%- include('./parts/navbar')%>

<div class="error-container">
   <div class="alert alert-danger">
      <h2>Erreur 404</h2>
      <p>Désolé, la page que vous recherchez est introuvable.</p>
      <p><a href="/">Retour à la page d'accueil</a></p>
   </div>
</div>

<%- include('./parts/scripts')%>

</body>
</html>
